<html>
    <body>
        <p style="display: block; max-width: 550px; font-size: 16px"><strong>Cusotmer Name: </strong><%=body.name%></p>
        <p style="display: block; max-width: 550px; font-size: 16px"><strong>Email: </strong><%=body.email%></p>
        <p style="display: block; max-width: 550px; font-size: 16px"><strong>Message: </strong><%=body.message%></p>
    </body>
</html>